.header-nav {
    background: #b18715e8;
    height: 40px;
}

.header-nav li{
    display: inline-block;
    padding: 0 25px 0;
    line-height: 40px;
    font-size: 30;
}


.header-nav li a, .header-nav li a:visited {
    color: #fff;
    text-decoration: none;
    display: block;
}
.header-nav li {
    color: #fff;
}
.header-nav li:hover {
    background: #8a6a12e8
}